@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url("ajax-loader.gif"/*tpa=http://www.massive-wood.ru/slick/ajax-loader.gif*/) center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url("fonts/slick.eot"/*tpa=http://www.massive-wood.ru/slick/fonts/slick.eot*/);
    src: url("fonts/slick.eot-#iefix"/*tpa=http://www.massive-wood.ru/slick/fonts/slick.eot?#iefix*/) format('embedded-opentype'), url("fonts/slick.woff"/*tpa=http://www.massive-wood.ru/slick/fonts/slick.woff*/) format('woff'), url("fonts/slick.ttf"/*tpa=http://www.massive-wood.ru/slick/fonts/slick.ttf*/) format('truetype'), url("fonts/slick.svg#slick"/*tpa=http://www.massive-wood.ru/slick/fonts/slick.svg#slick*/) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
        z-index: 10;
    position: absolute;
    top: 50%;
    display: block;
   width: 100px;
    margin-top: -25px;
    height: 100px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 50%;
    margin-left: -19%;
    background: url("../images/prev.png"/*tpa=http://www.massive-wood.ru/images/prev.png*/) no-repeat center center;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}

.slick-next
{
    right: 50%;
    margin-right: -19%;
    background:url("../images/next.png"/*tpa=http://www.massive-wood.ru/images/next.png*/) no-repeat center center;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
/* Dots */
.slick-slider
{
      padding: 0px;
}

.slick-dots
{
    position: absolute;
    bottom: -75px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: 1;
    color: #E3E3E3;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #BFBFBF;
}
.slick-slider p {
    font-family: 'Sylfaen';
    font-size: 25px;
    color: #000;
    text-align: center;
}
.slick-slider p span {
    color:#878787;
}
@media (min-width: 600px) {
.slick-slider p {
    display: none;
}
.slick-active img {opacity: 0.5}
.slick-current.slick-active + .slick-active img {
    opacity: 1;
}
.slick-current.slick-active + .slick-active p {
    display: block;
}
}
@media (max-width: 600px) {
.slick-prev {
    left: 20% !important;
}
.slick-next {
    right: 20% !important;
}
}